@media (max-width: 767px){
.logo-cover img{max-width: 100%;height: 130px;}
.wrapper .container-fluid{padding: 0 15px;} 
.nav-block{display: none;}
.info-cover{display: none;}
.contact-block{float: left;} 
.nav-cover{display: none;}
.mobile-nav-cover{text-align: right;position: absolute;top: 75px;}
.mobile-nav-cover a .fa{font-size: 30px;color: #0e3f18;} 
.prop-form-search .pad-lr-50{padding: 0 15px;}
.prop-form-search .form-control{width: 100% !important;}
.prop-form-search .cus-width.minp{margin-bottom: 15px;}
.prop-form-search .search-submit{margin-bottom: 10px;} 
.home .intro{padding: 0;}
.home .intro h1{font-size: 20px;}
.home .intro p{font-size: 14px;}
.footer-cover .container-fluid.mar-lr-30{margin: 0;}
.f-address .f-logo{text-align: center;padding-bottom: 15px;} 
.f-address .f-logo img{float: none;}
.add-details{padding: 0;padding-bottom: 10px;text-align: center;}
.f-contact{text-align: center;padding-bottom: 10px;}
.f-terms{text-align: center;}
.f-terms ul{float: none;}
.footer-block-2{margin: 15px 0;text-align: center;}
.footer-block-2 ul{text-align: center;float: none;}
.footer-block-2 ul li{padding: 0;}
.page-title h1{font-size: 22px;}
.tab-about ul.nav-tabs li{width: 100%;padding: 0;margin-bottom: 8px;}
.tab-about ul.nav-tabs li a{font-size: 15px;padding: 8px 15px 8px 15px;}
.tab-about .tab-pane h2{font-size: 18px;}
.tab-about .tab-pane p, .tab-about .tab-pane ul li{font-size: 14px;}
.tab-about .tab-pane h3{font-size: 16px;} 
.prop-form-search .form-group label{padding-bottom: 6px;}
.prop-form-search .cus-width.minp, .prop-form-search .cus-width.maxp{margin-bottom: 0;}
.mmbt-0{margin-bottom: 0;}
.prop-form-search .search-submit{margin-bottom: 13px;} 
.pl-cover ul.nav-tabs{float: none;}
.pl-cover div.pt-cover h2{text-align: left;float: none;}
.prop-desc .pd-link ul li{display: block;padding-bottom: 10px;}
.pl-cover .pl-img img{padding: 0;} 
div.pd-cover ul.nav-tabs.pdCookieTab li{display: block;width: 100%;text-align: center;margin: 0 0 10px 0;}
.pl-cover.pd-cover .pdCookieTabContent{margin-top: 4px;}
.pl-cover.pd-cover .pdCookieTabContent .bt-result p{text-align: center;}
.pd-feature1-cover .pd-fb1{padding-bottom: 10px;}
.pd-feature1-cover .pd-fb1 a{width: 100%;}
.pl-cover.pd-cover .pd-feature2-tab ul li{width: 100%;}  
.arrange-viewing .av-label label{width: 100%;margin: 5px 0 0 0;}
.arrange-viewing .av-label.radio-block span{padding: 0 5px 0 1px;font-size: 12px;}
.arrange-viewing, .send-to-friend{width: 100%;}  
.arrange-viewing .av-label input, .arrange-viewing .av-label select, .arrange-viewing .av-label textarea, .send-to-friend .stf-label input, .send-to-friend .stf-label textarea{width: 100%;} 
.valuations .f-adj, .valuations .f-adj .vf-label label, .valuations .f-adj .vf-label select, .valuations .f-adj .vf-label input{width: 100%;}
.valuations .intro-txt p{display: block;}
.contact-us .page-title h1{font-size: 21px;}
.cf-label input, .cf-label textarea{width: 100%;}
.contact-us .intro{padding-top: 0;}
.contactform{padding: 0;margin-bottom: 20px;}
.contactmap .contact-add p{padding-bottom: 0;}
.contactmap .contact-details{float: none;padding-top: 0;}
} 
@media (min-width: 501px) and (max-width: 767px){
.sidebar-form, .saved-prop-cover, form.arrange-viewing, .share-prop-cover, .arrange-viewing, .share-prop-cover{width: 58%;margin: auto;}
} 
@media (max-width: 420px){.slider-title{padding: 5px 0;}} 