/* Default css starts */
ul{padding: 0;margin: 0;}
ul li{list-style: none;}
.dis-none{display: none;}
.hdnSeo{color: #fff;position: absolute;z-index: -1;}
.toggle-menu, .mobile-nav{display: none;}
a, a:hover, a:focus{text-decoration: none !important;}
.container-fluid{padding: 0 40px;}
.cus-clr1,.cus-clr1:hover {color: #4E4E4E;}
.cus-clr2,.cus-clr2:hover{color: #2B2B2B;} 
.pad-0{padding: 0;}
.pad-rt-15{padding-right: 15px;}
.pad-lr-50{padding: 0 50px;}
.theme-bg-clr{background: #0C3F18;}
.mar-lr-30{margin: 0 30px;}
.pad-lr-10{padding: 0 10px;}
.mar-tp-30{margin-top: 30px;}
.mar-bt-30{margin-bottom: 30px;}
.flt-lt{float: left;}
.txt-algn-rt{text-align: right;}
.va-top{vertical-align: top;}
.pad-tp-20{padding-top: 20px;}
.pl-cover{}
.loader span.blue, span.loader .red{font-size: 1.2em;font-weight: normal;letter-spacing: 0.3px;}
.blue{color: #0d3f17;}
.red{color: #be0e10;}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
} 
input[type=number] {
    -moz-appearance:textfield; 
} 
/* Default css ends */ 
/* Header starts */
html,body{font-family: arial;background:#fafaf2;}
.wrapper{border-top: 15px solid #0B3F18;background: #FAFAF2;} 
.contact-block{display: inline-block;float: right;padding: 25px 0 0 0;}
.logo-cover{padding: 10px 0px 0 0px;}
ul.contact-info, ul.social-icons{display: inline-block;}
.nav-block{clear: both;position: relative;top: 5em;}
.nav-block nav ul li{display: inline-block;width: 11.6%;padding: 7px 5px 6px 5px;
text-align: center;font-size: 16px;font-weight: bold;margin-right: 5px;background: #0C3F16;}
.nav-block nav ul li.active, .nav-block nav ul li:hover{color: #fff;background: #be0e10;}
.nav-block nav ul li a, .nav-block nav ul li a:hover{color: #fff;}
ul.social-icons li{display: inline-block; float: left;}
ul.social-icons li:first-child{padding-right: 5px;}
.header{border-bottom: 1px solid #D1D1D1;}
.nav-cover{}
.info-cover, .social-cover{float: left;}
.social-cover ul.social-icons li a{cursor: pointer;}
ul.contact-info li{font-size: 24px;font-weight: bold;}
ul.contact-info li:last-child{font-size: 18px;font-weight: bold;}
ul.contact-info li span{font-size: 24px;padding-right: 20px;color:#be0e10;}
ul.contact-info li a, ul.contact-info li a:hover, ul.contact-info li a:focus{text-decoration: none;}
.search-block{margin: 20px 0;border: solid 2px #868E81;background: #0d3f17;color: #fff;    padding: 8px 15px 5px 15px;overflow: hidden;}
.prop-form-search .form-group{width: 100%;}
.prop-form-search .form-group label{font-weight: normal;font-size: 16px;margin-bottom: 0;vertical-align: middle;line-height: 1.2;}
.prop-form-search .form-group .form-check{float: left;}
.prop-form-search .form-control{padding: 0px 0 0 0;height: 20px;
line-height: 0;border-radius: 0;width: 50%;font-size: 16px;color: #000;}
.prop-form-search .form-control.cus-width{width: 32%;margin-right: 0px;}
.search-submit{background-color: #be0e10;border: solid 1px #727176;padding: 2px 30px 4px 30px;}
.prop-form-search .form-control.cus-width1{width: 75%;margin-left: 10px;}
/* Header ends */
/* Slider starts */
.carousel-fade .carousel-inner .item{opacity: 0;transition-property: opacity;} 
.carousel-fade .carousel-inner .active{opacity: 1;} 
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right{left: 0;opacity: 0;z-index: 1;} 
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right{opacity: 1;} 
.carousel-fade .carousel-control{z-index: 2;} 
@media all and (transform-3d), (-webkit-transform-3d) {
.carousel-fade .carousel-inner > .item.next,
.carousel-fade .carousel-inner > .item.active.right{
opacity: 0;
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-inner > .item.prev,
.carousel-fade .carousel-inner > .item.active.left{
opacity: 0;
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-inner > .item.next.left,
.carousel-fade .carousel-inner > .item.prev.right,
.carousel-fade .carousel-inner > .item.active{
opacity: 1;
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}
} 
.home-slider{border: 8px solid #be0e10;margin-bottom: 30px;}
#carouselFade, #carouselFade1, #carouselFade2{background: #0d3f17;padding: 0;border-top: 10px solid #0d3f17;border-left: 10px solid #0d3f17;
border-bottom: 10px solid #0d3f17;border-right: 8px solid #0d3f17;}
.slider-title{position: relative;bottom: 0;background: #999E93;display: block;width: 100%;text-align: center;color: #fff;font-size: 20px;padding: 20px 0;border-top: 2px solid #cccccc;
font-weight: bold;}
.home-slider .carousel-fade .carousel-inner .item img{margin: auto;}
.slider-title:hover{background: #be0e10;cursor: pointer;}
/* Slider ends */
/* Home page css starts */ 
.intro{margin-bottom: 20px;}
.intro h1{margin: 0;border-bottom: 1px solid #D1D1D1;padding-bottom: 20px;color: #be0e10;
font-weight: bold;font-size: 28px;}
.intro p{color: #4E4E4E; font-size: 16px; font-weight: bold;padding: 20px 0;line-height: 25px;letter-spacing: 0.5px;}
/* Home page css ends */ 
/* Nav css starts */
.nav-block ul.dropdown-menu{background: #0e3f18;}
.nav-block ul.dropdown-menu	li{display: block;width: 100%;background: #0e3f18;    text-align: left;}
.nav-block ul.dropdown-menu	li:hover{background: transparent;}
.nav-block ul.dropdown-menu	li a:hover,.nav-block ul.dropdown-menu	li a:focus{color: #fff;background: transparent;}
/* Nav css ends */
/* Footer starts */
.f-address img{height: 100px;width: 120px;float: left;}
.footer-cover{background: #0C3F18;border-top: 10px solid #be0e10;color: #fff;}
.footer-block-1{border-bottom: 1px solid #7C7C7C;padding: 20px 0;font-size: 12px;}
.add-details{padding-left: 15px;font-size: 12px;}
.f-terms ul{display: inline-block;float: right;}
.f-terms ul li{float: left;border-right: 1px solid #E9E581;padding: 0 5px;    letter-spacing: 0.5px;}
.f-terms ul li:last-child{border-right: none;}
.f-contact li a, .f-terms ul li a, .f-terms ul li a:hover{text-decoration: none;color: #E9E581;}
.footer-block-2{padding: 30px 0 20px 0;border-top: 1px solid #161616;}
.footer-block-2 ul{display: inline-block;float: right;}
.footer-block-2 ul li{float: left;padding-right: 30px;}
.footer-block-2 ul li:last-child{padding-right: 0;}
.footer-block-2 ul li img{height: 40px;}
/* Footer ends */
/* About us starts */
.about-us .header{padding-bottom: 0;border-bottom: none;}
.page-title h1{margin: 15px 0 15px 0;border-bottom: 1px solid #D1D1D1;padding-bottom: 25px;color: #be0e10;font-weight: bold;font-size: 28px;}
.tab-about ul.nav-tabs li{padding-right: 15px;width: 18%;text-align: center;}
.tab-about ul.nav-tabs, .tab-about ul.nav-tabs li a{border: none;}
.tab-about ul.nav-tabs li a{margin-right: 0;color: #fff;font-weight: bold;border-top-right-radius: 10px;border-top-left-radius: 10px;background: #0C3F16;font-size: 16px;padding: 8px 15px 5px 15px;}
.tab-about ul.nav-tabs li a:hover,.tab-about ul.nav-tabs li a:focus{margin-right: 0;background: #BE0E10;color: #fff;font-weight: bold;border-top-right-radius: 10px;border-top-left-radius: 10px;}
.tab-about ul li.active a{border: none !important;margin-right: 0;background: #BE0E10;color: #fff;font-weight: bold;border-top-right-radius: 10px;border-top-left-radius: 10px;}
.tab-about .tab-pane h2{font-size: 22px;font-weight: bold;color: #0d3f17;margin: 30px 0 25px 0;}
.tab-about .tab-pane.fade{opacity: 1;}
.tab-about .tab-pane p{margin: 10px 0;font-size: 15px;font-weight: bold;letter-spacing: 0.5px;color: #4E4E4E;text-align: justify;}
.tab-about #home.tab-pane ul{padding: 30px 0 50px 40px;} 
.tab-about #menu1.tab-pane ul{padding: 0px 0 0px 40px;}
.tab-about #menu2.tab-pane ul{padding: 0px 0 40px 40px;}
.tab-about #menu2.tab-pane ul li a{color: #BE0E10;}
.tab-about .tab-pane ul li{font-size: 15px;font-weight: bold;letter-spacing: 0.5px;color: #4E4E4E;list-style-type: disc;}
.tab-about .tab-pane h3{font-size: 18px;font-weight: bold;color: #4E4E4E;margin: 20px 0;}
.tab-about .tab-pane p span, .tab-about #menu1.tab-pane ul li span{color: #BE0E10;}
#menu1, #menu2{margin-bottom: 4%;} 
/* About us ends */
/* Property list page starts */   
.props{padding: 0 0 15px 0;} 
.pl-cover ul.nav-tabs{float: right;border-bottom: none;}
.pl-cover ul.nav-tabs li{margin-right: 10px;background: #0C3F18;}
.pl-cover ul.nav-tabs li:last-child{margin-right: 0;}
.pl-cover ul.nav-tabs li a{margin: 0;border-radius: 0;padding: 4px 20px 5px 20px;    font-weight: bold;}
.pl-cover ul.nav-tabs li a{background: #BE0E10;}
.pl-cover ul.nav-tabs li.active a{background: #0C3F18;border-bottom: transparent;}
.pl-cover ul.nav-tabs li a:hover{background: #B53838;}
.pl-cover ul.nav-tabs li.active a:hover{background: transparent;}
.pl-cover ul.nav-tabs li a,
.pl-cover ul.nav-tabs li.active a, 
.pl-cover ul.nav-tabs li a:focus
{color: #fff;border-color: transparent;} 
.pl-cover #propertyList.fade , .pl-cover #propertyMap.fade{opacity: 1;}
.pl-cover .tab-content{margin-top:20px;margin-top: 30px;}
.prop-count p{margin: 0;padding: 5px;font-weight: bold;color: #fff;background: #0e3f18;font-size: 16px;}
.pl-cover .pagination-cover{padding: 15px 0;font-weight: bold;color: #4E4E4E;}
.pagination-cover .pf{display: inline-block;}
.pagination-cover .pf p{margin: 0;}
.pagination-cover .ps{float: right;}
.pt-cover{background: #999E93;color: #fff;overflow: hidden;padding: 0 3px;margin-bottom: 15px;}
.pt-cover h2{font-size: 16px;margin: 8px 0;font-weight: bold;}
.pt-cover span.property-status{float: right;color: #be0e10;font-size: 14px;padding: 2px 5px 0 10px;}
.pt-cover h2:first-child{float: left;}
.pt-cover h2:last-child{text-align: right;} 
.prop-details .prop-desc{color: #4E4E4E;font-weight: bold;}
.prop-details .prop-desc span{font-size: 18px;font-weight: bold;}
.prop-details .prop-desc p{font-size: 14px;margin: 0;padding: 2px 0;text-align: justify;}
.pl-cover .pl-img{text-align: right;}
.pl-cover .pl-img img{max-width: 100%;height: auto;width: 100%;padding-left: 35px;}
.pd-link{padding: 20px 20px;}
.pd-link ul li{display: inline;}
.pd-link ul li a{background: url(../images/rt-arrow.png) no-repeat;padding: 1px 20px 5px 30px;color: #B53838;font-size: 15px;}
.sidebar-form .af-label{padding-bottom: 10px;}
.sidebar-form .af-label label{display: block;margin-bottom: 0;}
.aside-sw{padding-left: 4%;}
.sidebar-form{}
.sidebar-form h2{color:#be0e10;font-size: 22px;font-weight: bold;}
.sidebar-form .cs-submit{background: #be0e10;border: 1px solid #727176;color: #fff;
padding: 5px 35px;font-weight: bold;}
.sidebar-form .af-label input.pc-input{width: 70%;height: 20px;}
.sidebar-form .af-label select{width: 100%;color: #000;}
.saved-prop img{max-width: 100%;height: auto;}
.saved-prop-cover h2{margin: 20px 0 0 0;color: #be0e10;font-size: 20px;font-weight: bold;}
.saved-prop-cover p{font-weight: bold;color: #4E4E4E;}
.saved-prop span{padding: 15px 0;display: block;font-weight: bold;font-style: italic;
color: #4e4e4e;}
#propertyMap .map-section{padding-top: 10px;}
#propertyMap .pl-map{border: 1px solid #ccc;}
.pl-map{height: 500px;}
.pl-map-cnt{padding-left: 10px;}
.pl-map-cover{display: inline-block;float: left;}
.pl-map-desc{width: 192px;margin-left: auto;}
.pl-map-desc p{margin-bottom: 4px;}
.pl-map-address, .pl-bed, .pl-map-desc ul li a{font-size: 12px;}
.pl-map-desc ul li a{color: #BE0E10;}
.map-cnt h2{font-size: 14px;font-family: Georgia, "Times New Roman", Sans-Serif;color: #000;font-weight: bold;margin: 0;padding-top: 5px;}
.pagination-cover ul li{display: inline;padding-right: 5px;}
.pagination-cover ul li a{color:#565453;}
.pagination-cover ul li.active{color: #be0e10;}
#saleminp, #salemaxp, #letminp, #letmaxp{display: inline;vertical-align: middle;
margin-left: 10px;}
.aside-sw .sidebar-form form #saleminp, 
.aside-sw .sidebar-form form #salemaxp, 
.aside-sw .sidebar-form form #letminp, 
.aside-sw .sidebar-form form #letmaxp{    margin-left: 0px;}
/* Property list page ends */
/* Property detail page starts */
#pdFeesApply{display: none;}
.feesApplyMessage h3{margin: 0;padding-bottom: 15px;color: #0d3f18;}
.feesApplyMessage ul li{padding-bottom: 3px;}
.feesApplyMessage ul li .fa{color: #0d3f18;padding-right: 5px;}
#pdFeesApply .fancybox-close-small:after{color: #fff;background: #0d3f18;} 
.pd-cover .tab-content .tab-pane.fade{opacity: 1;}
.pd-cover .bt-result p a{color: #fff;font-size: 14px;}
div.pt-cover.pd-title{margin: 15px 0;background: #0d3f17;}
div.pt-cover.pd-title h2 span{padding-right: 10px;}
.pd-cover .pt-cover.pd-title span.property-status{font-size: 16px;padding: 0px 5px 0 10px;}
#pano{height: 500px;}
.pd-map-img{border: 1px solid;width: 200px;height: 151px;margin-right: 10px;} 
.pd-pagination{text-align: right;padding: 15px 0;}
.pd-pagination ul{display: inline-block;vertical-align: middle;}
.pd-pagination ul li{float: left;}
.pd-pagination ul li a{color: #565453;font-weight: 600;}
.pd-pagination ul li a.prevnextlabel{position: relative;bottom: 2px;}
.pd-pagination ul li:first-child{padding-right: 6em;}
.pd-pagination ul li:last-child{padding-right: 3em;}
.pd-detail-title h2{font-size: 16px; color: #565453;font-weight: bold;margin-top: 0;}
.pd-detail-title p a{color: #565453;}
.pd-detail-title p{color: #565453;font-weight: bold;}
.pd-detail-title p span{color: #be0e10;}
#propertyDetailCarousel  .carousel-inner .item img{margin: auto;max-height: 733px;overflow: hidden;}
.pd-tcarousel-cover #slider-thumbs ul li{width: 150px;}
.pd-tcarousel-cover #slider-thumbs ul li a img{max-height: 80px;overflow: hidden;    height: 80px;margin: 0;width: auto;margin:auto;}
.pd-tcarousel-cover .left.carousel-control, .pd-tcarousel-cover .right.carousel-control{display: none;}
.pd-feature1-cover{margin: 15px 0;}
.pd-tcarousel-cover div#slider-thumbs ul.hide-bullets li a.thumbnail{border: none;padding: 15px 0 5px 0;margin: 0;} 
.pd-feature1-cover .pd-fb1 a{width: 90%;color: #FFF;display: block;margin: auto;font-weight: bold;background: #0d3f18;border-radius: 4px;padding: 8px 0 10px 0;text-align: center;}
.pl-cover .pd-feature2-cover .pd-feature2-tab .tab-content{margin-top: 0;}
.pl-cover .pd-feature2-cover .pd-feature2-tab ul.nav{float: none;}
.pl-cover.pd-cover .pd-feature2-tab ul li{width: 178px;margin-right: 10px;} 
.pl-cover.pd-cover .pd-feature2-tab ul li:last-child{margin-right: 0;}
.pd-feature2-tab ul li a{text-align: center;padding: 5px 0 7px 0;}
#pdFeature{padding: 10px 5px;color: #4E4E4E;letter-spacing: 0.4px;}
#pdFeature h3{margin: 10px 0;font-size: 1.2em;color: #4E4E4E;font-weight: bold;}
.arrange-viewing{width: 48%;}
.arrange-viewing .av-label{padding-bottom: 3px;}
.arrange-viewing .av-label label{width: 172px;height: 20px;color: #4e4e4e;}
.arrange-viewing .av-label input{width: 292px; height: 20px;}
.arrange-viewing .av-label.radio-block{color: #4e4e4e;font-weight: bold;}
.arrange-viewing .av-label.radio-block input{width: auto !important;position: relative;top: 7px;margin: 0;}
.arrange-viewing .av-label.radio-block span{padding: 0 8px 0 1px;}
.arrange-viewing .avp1 h3, .arrange-viewing .avp2 h3, .arrange-viewing .avp3 h3{color: #4E4E4E;margin: 0;font-size: 16px;font-weight: bold;}
.arrange-viewing .avp1, .arrange-viewing .avp2, .arrange-viewing .avp3{padding-bottom: 20px;}
.arrange-viewing .av-label.enquiry-status{width: 346px;}
.arrange-viewing div.av-submit input{background: #be0e10;color: #fff;font-weight: bold;padding: 3px 40px 4px 40px;border: 1px solid #727176;height: auto; width: auto;}
.arrange-viewing .loader{text-align: center;}
.arrange-viewing .loader img, .valuation-mail .loader span{padding: 15px 0;display: inline-block;}
.av-label.av-subject input{width: 371px;}
.pd-feature2-tab .tab-content #pdPdf .pd-broucher{width: 100%;height: 1000px;padding-top: 20px;}
.pd-feature2-tab #pdEpc .epc-cover{overflow: hidden;padding: 20px;}
.pd-feature2-tab #pdEpc .epc-cover img{float: left;margin: 10px;}
.pd-feature2-tab #pdFloorplans .floorplan-cover img{max-width: 100%; height: auto;}
#pdSendToFriend .share-prop-cover h3{font-size: 1.3em;font-weight: bold;color: #4E4E4E; }
#pdSendToFriend .share-prop-cover .intro-txt p, #pdSendToFriend .share-prop-cover h3{margin-bottom: 2px;}
#pdSendToFriend .share-prop-cover label, #pdSendToFriend .share-prop-cover .intro-txt p, #pdSendToFriend .share-prop-cover .intro-txt span{color: #4E4E4E;font-weight: bold;}
.stf-label{padding-bottom: 8px;}
.stf-label label{width: 200px;margin-bottom: 0;}
.stf-label input{width: 292px;height: 20px;}
.stfp1 h3, .stfp2 h3{font-size: 15px !important;}
.stf-label.stf-submit input{background: #be0e10;color: #fff;font-weight: bold;padding: 3px 45px 4px 45px;border: 1px solid #727176;height: auto; width: auto;}
.send-to-friend{width: 50%;}
.send-to-friend .loader{text-align: center;}
.send-to-friend .loader img, .send-to-friend .loader span{padding: 15px 0;display: inline-block;}
/* Property detail page ends */
/* Sitemap & Privacy policy starts */
.sitemap .intro h1{display: none;} 
.sitemap main .container-fluid{height: 230px;} 
.sitemap .header, .privacy-policy .header{padding-bottom: 0;border-bottom: none;}
.sitemap ul{padding-left: 20px;}
.sitemap .intro ul li a, .privacy-policy p a, .privacy-policy .privacy-content table td a{color: #BE0E10;font-weight: bold;}
.privacy-policy .privacy-content{padding-bottom: 3%;}
.privacy-policy .privacy-content h1{margin: 10px 0 30px 0;font-size: 28px;font-weight: bold;color: #be0e10;}
.privacy-policy .privacy-content p, .privacy-policy .privacy-content table td{color: #4E4E4E;font-weight: normal;font-size: 14px;text-align: justify;}
.privacy-policy .privacy-content h2{margin: 20px 0;font-size: 18px;font-weight: bold;color: #4e4e4e;}
.privacy-policy .privacy-content h4{font-size: 14px;font-weight: bold;}
.privacy-policy .privacy-content ul{padding-left: 40px;}
.privacy-policy .privacy-content ul li{list-style-type: disc;font-weight: normal;color: #4e4e4e;}
.privacy-policy .privacy-content table{margin-bottom: 30px;}
.privacy-policy .privacy-content table tr:first-child{background-color: #999E93;color: #0B3F18;}
.privacy-policy .privacy-content table tr:first-child th{border: none;}
.privacy-policy .privacy-content table, th, td{border: solid 1px #ccc;border-collapse: collapse;}
.privacy-policy .privacy-content th{padding: 10px;text-align: center;}
.privacy-policy .privacy-content td{padding: 5px;}
/* Sitemap & Privacy policy ends */
/* Valuation starts */
.valuations .header, .valuations .page-title h1{border-bottom: none;padding-bottom: 0;}
.valuations .f-adj .vf-label.valuation-submit input{background: #be0e10;color: #fff;font-weight: bold;padding: 3px 40px 4px 40px;border: 1px solid #727176;height: auto; width: auto;}
.valuations .intro-txt, .valuations .intro-txt1{padding: 10px 0;}
.valuations .intro-txt p{display: inline;padding-right: 10px;}
.valuations .f-adj{width: 60%;}
.valuations .f-adj .vf-label{padding: 5px 0;}
.valuations .f-adj .vf-label label{width: 40%;margin: 0;color: #4e4e4e;}
.valuations .f-adj .vf-label select{width: 30%;}
.valuations .f-adj .vf-label input{height: 22px;width: 43%;} 
.valuations .vf-label.radio-block{color: #4e4e4e;font-weight: bold;}
.valuations .vf-label.radio-block input{width: auto !important;position: relative;top: 7px;margin: 0;}
.valuations .valuation-form{padding-bottom: 6%;} 
.valuations .intro-txt span{position: relative;top: -8px;font-size: 11px;font-weight: bold;}
.valuations .intro-txt, .valuations .intro-txt1{color: #4E4E4E;font-weight: bold;}
.valuations .intro-txt1 p{margin-bottom: 0;}
.valuations .vf-label.ptsw select{width: 40%;}
.valuation-mail .loader{text-align: center;}
.valuation-mail .loader img, .valuation-mail .loader span{padding: 15px 0;display: inline-block;}
/* Valuation ends */
/* Contact us starts */
.contact-us .header{padding-bottom: 0;border-bottom: none;}
.cf-label label{width: 165px;margin-bottom: 0;}
.cf-label input{width:250px;height: 22px;}
.cf-label textarea{height: 125px;width: 400px;}
.cf-label{padding: 5px 0;}
.contact-form-cover form span{font-size: 0.80em;font-weight: bold;}
.cf-submit{background-color: #be0e10;border: solid 1px #727176;padding: 3px 32px 4px 32px;
color: #fff;font-weight: bold;}
.contact-us .intro{padding-top: 20px;padding-bottom: 5%; }
.contact-us #map_canvas{height: 340px;width: auto !important;border: 1px solid #333;}
.contact-us .contact-add p{font-size: 14px;line-height: 20px;}
.contact-us .contact-details{padding: 20px 0;width: auto;margin-left: 20px auto;float: right;}
.contact-us .contact-details p{padding: 0;margin: 0;font-size: 14px;}
.contact-us .contact-details p span{color:#BE0E10;padding-right: 5px;}
.contact-us .contact-details p:last-child a{color:#BE0E10;}
.contact-us .contact-details p a{color:#4E4E4E;}
.contact-form-cover .loader{text-align: center;}
.contact-us .g-recaptcha{text-align: center;width: 300px;margin: auto;}
.contact-us .contact-add address {font-size: 14px;line-height: 20px;letter-spacing: 0.5px;color: #4E4E4E;font-weight: bold;padding: 20px 0;}
/* Contact us ends */
/* 404 starts */
.not-found-cover{padding-bottom: 30px;}
.not-found-cover article h1{margin: 20px 0;color: #0d3f18;}
.related-properties ul li.fa,.related-properties ul li a{color: #0d3f18;}
.no-property h1{font-size: 30px;color: #0d3f17;margin: 20px 0;text-align: center;}
/* 404 ends */
/* Ipad css starts */
@media (max-width: 1199px){ 
.cbp-spmenu{background: #0e3f18;}
nav.cbp-spmenu ul li a:hover{color: #0e3f18;background: #fff;}
.cbp-spmenu-vertical a{border-bottom: 1px solid #9e9e9e;}
.mobile-nav-cover a.toggle-menu .fa{cursor: pointer;}  
}
@media (max-width: 1300px){
#saleminp, .prop-form-search .form-control.cus-width1, #letminp{margin-left: 0;}
.aside-sw{padding: 0;}
}
@media (max-width: 991px){
.toggle-menu, .mobile-nav{display: block;}
.cbp-spmenu{background: #0e3f18;}
nav.cbp-spmenu ul li a:hover{color: #0e3f18;background: #fff;}
.cbp-spmenu-vertical a{border-bottom: 1px solid #9e9e9e;}
.mobile-nav-cover a.toggle-menu .fa{cursor: pointer;}   
} 
@media (min-width: 768px) and (max-width: 1199px){
.sidebar-form, .saved-prop-cover, .arrange-viewing, .share-prop-cover{width: 45%;margin: auto;} 
}
@media (min-width: 1200px) and (max-width: 1300px){ 
.col-lg-9.pl-cover{width: 100%;}
.col-lg-3.aside-sw{width: 100%;}
.sidebar-form, .saved-prop-cover, .arrange-viewing, .share-prop-cover{width: 45%;margin: auto;} 
} 
@media (min-width: 768px) and (max-width: 991px){  
.nav-block{display: none;}
.mobile-nav-cover{text-align: right;}
.mobile-nav-cover a.toggle-menu{display: block;position: absolute;right: 0px;bottom: 20px;margin-right: 15px;}
.mobile-nav-cover a.toggle-menu .fa{font-size: 28px; color: #0e3f18;}
ul.contact-info li:last-child{display: inline-flex;padding-top: 8px;padding-bottom: 15px;}
.prop-form-search .pad-lr-50{padding: 0 18px;}
.prop-form-search .form-group label{display: block;}
.prop-form-search .form-control.minp,.prop-form-search .form-control.maxp{width: 45%;}
.search-submit{padding: 3px 10px 5px 10px;margin-top: 14px;}
.home-slider .carousel .carousel-inner .item img{margin: auto;}
.slider-title{padding: 8px 0;} 
.add-details{padding-left: 66px;}
.f-contact{text-align: right;padding-bottom: 10px;}
.search-block{padding-bottom: 12px;}  
.tab-about ul.nav-tabs li{width: 75%;float: none;margin: auto;padding: 0;margin-bottom: 8px;}
.tab-about ul.nav-tabs li a{padding: 8px 15px 8px 15px;} 
.valuations .f-adj{width: 100%;}
.contact-us .intro{padding-top: 0;}
.contactform{padding: 0;margin-bottom: 20px;}
}
@media (min-width: 992px) and (max-width: 1199px){
.nav-block{top: 6em;}
.nav-block nav{text-align: right;}
.nav-block nav ul li{width: auto;margin-right: 4px;padding: 5px 10px 6px 10px;    font-size: 14px;letter-spacing: 0.3px;}
.prop-form-search .form-control.cus-width1{width: 80%;}
.prop-form-search .pad-lr-50{padding: 0;} 
.tab-about ul.nav-tabs li{width: 32%;}  
.valuations .f-adj, .vf-label label, .valuations .f-adj .vf-label input, .valuations .f-adj .vf-label select{width: 100%;}
}
@media (min-width: 992px) and (max-width: 1300px){
.nav-cover .nav-block nav ul li:last-child{margin-right: 0;}
.prop-form-search .form-group .form-check{float: none;}
.mmbt-0 label{display: block;}
.prop-form-search .form-control.cus-width{width: 45%;}
.search-block{padding: 8px 25px 10px 15px;}
input.search-submit{margin-top: 9px;} 
}
@media (min-width: 1200px){
.nav-block nav ul li{margin-right: 3px;font-size: 16px;}
.prop-form-search .pad-lr-50{padding: 0;} 
/*.prop-form-search .form-control.cus-width1{width: 64%;}*/
}
@media (min-width: 768px) and (max-width: 1300px){
div.pd-feature2-tab ul.nav-tabs li{width: 50%;float: left;margin-bottom: 10px;margin-right: 0 !important;border: 0;}
div.pd-feature2-tab ul.nav-tabs li a,div.pd-feature2-tab ul.nav-tabs li.active,div.pd-feature2-tab ul.nav-tabs li.active a:hover{border: 0 !important;}
div.pd-feature2-tab ul.nav-tabs li a{padding: 6px 0 8px 0;}
.av-label.radio-block label{width: 40px;}
.send-to-friend{width: 100%;}
.arrange-viewing .av-label.radio-block span{padding: 0 2px 0 1px;font-size: 12px;} 
.arrange-viewing .av-label input, .arrange-viewing .av-label select, .arrange-viewing .av-label textarea, .send-to-friend .stf-label input, .send-to-friend .stf-label textarea{width: 100%;} 
.pl-cover.pd-cover div.pd-feature2-tab ul.nav-tabs li{width: 50%;float: left;margin-bottom: 10px;margin-right: 0 !important;border: 0;}
div.pd-feature2-tab ul.nav-tabs li a,div.pd-feature2-tab ul.nav-tabs li.active,div.pd-feature2-tab ul.nav-tabs li.active a:hover{border: 0 !important;}
}
@media (min-width: 1301px){
.prop-form-search .form-control.cus-width1{width: 64%;} 
}
@media (min-width: 1200px) and (max-width: 1560px){
.tab-about ul.nav-tabs li{width: 24%;}
}
@media (min-width: 1301px) and (max-width: 1588px){
.pl-cover.pd-cover div.pd-feature2-tab ul.nav-tabs li{width: 50%;float: left;margin-bottom: 10px;margin-right: 0 !important;border: 0;}
div.pd-feature2-tab ul.nav-tabs li a,div.pd-feature2-tab ul.nav-tabs li.active,div.pd-feature2-tab ul.nav-tabs li.active a:hover{border: 0 !important;}
}
@media (min-width: 992px) and (max-width: 1500px){.add-details{padding-left: 58px;} }
@media (min-width: 1200px) and (max-width: 1588px){
.valuations .f-adj, .vf-label label, .valuations .f-adj .vf-label input, .valuations .f-adj .vf-label select{width: 85%;}
}
/* Ipad css ends */
/* Mobile css starts */
@media (max-width: 767px){
.logo-cover img{max-width: 100%;height: 130px;}
.wrapper .container-fluid{padding: 0 15px;} 
.nav-block{display: none;}
.info-cover{display: none;}
.contact-block{float: left;} 
.nav-cover{display: none;}
.mobile-nav-cover{text-align: right;position: absolute;top: 75px;}
.mobile-nav-cover a .fa{font-size: 30px;color: #0e3f18;} 
.prop-form-search .pad-lr-50{padding: 0 15px;}
.prop-form-search .form-control{width: 100% !important;}
.prop-form-search .cus-width.minp{margin-bottom: 15px;}
.prop-form-search .search-submit{margin-bottom: 10px;} 
.home .intro{padding: 0;}
.home .intro h1{font-size: 20px;}
.home .intro p{font-size: 14px;}
.footer-cover .container-fluid.mar-lr-30{margin: 0;}
.f-address .f-logo{text-align: center;padding-bottom: 15px;} 
.f-address .f-logo img{float: none;}
.add-details{padding: 0;padding-bottom: 10px;text-align: center;}
.f-contact{text-align: center;padding-bottom: 10px;}
.f-terms{text-align: center;}
.f-terms ul{float: none;}
.footer-block-2{text-align: center;}
.footer-block-2 ul{text-align: center;float: none;}
.footer-block-2 ul li{padding: 0;}
.page-title h1{font-size: 22px;}
.tab-about ul.nav-tabs li{width: 100%;padding: 0;margin-bottom: 8px;}
.tab-about ul.nav-tabs li a{font-size: 15px;padding: 8px 15px 8px 15px;}
.tab-about .tab-pane h2{font-size: 18px;}
.tab-about .tab-pane p, .tab-about .tab-pane ul li{font-size: 14px;}
.tab-about .tab-pane h3{font-size: 16px;} 
.prop-form-search .form-group label{padding-bottom: 6px;}
.prop-form-search .cus-width.minp, .prop-form-search .cus-width.maxp{margin-bottom: 0;}
.mmbt-0{margin-bottom: 0;}
.prop-form-search .search-submit{margin-bottom: 13px;} 
.pl-cover ul.nav-tabs{float: none;}
.pl-cover div.pt-cover h2{text-align: left;float: none;}
.prop-desc .pd-link ul li{display: block;padding-bottom: 10px;}
.pl-cover .pl-img img{padding: 0;} 
div.pd-cover ul.nav-tabs.pdCookieTab li{display: block;width: 100%;text-align: center;margin: 0 0 10px 0;}
.pl-cover.pd-cover .pdCookieTabContent{margin-top: 4px;}
.pl-cover.pd-cover .pdCookieTabContent .bt-result p{text-align: center;}
.pd-feature1-cover .pd-fb1{padding-bottom: 10px;}
.pd-feature1-cover .pd-fb1 a{width: 100%;}
.pl-cover.pd-cover .pd-feature2-tab ul li{width: 100%;}  
.arrange-viewing .av-label label{width: 100%;margin: 5px 0 0 0;}
.arrange-viewing .av-label.radio-block span{padding: 0 5px 0 1px;font-size: 12px;}
.arrange-viewing, .send-to-friend{width: 100%;}  
.arrange-viewing .av-label input, .arrange-viewing .av-label select, .arrange-viewing .av-label textarea, .send-to-friend .stf-label input, .send-to-friend .stf-label textarea{width: 100%;} 
.valuations .f-adj, .valuations .f-adj .vf-label label, .valuations .f-adj .vf-label select, .valuations .f-adj .vf-label input{width: 100%;}
.sidebar-form .af-label input#location {width: 100%;} 
.valuations .intro-txt p{display: block;}
.contact-us .page-title h1{font-size: 21px;}
.cf-label input, .cf-label textarea{width: 100%;}
.contact-us .intro{padding-top: 0;}
.contactform{padding: 0;margin-bottom: 20px;}
.contactmap .contact-add p{padding-bottom: 0;}
.contactmap .contact-details{float: none;padding-top: 0;}
.footer-block-lf ul {float: none !important;margin: 36px 0px;text-align: center !important;}
} 
@media (min-width: 501px) and (max-width: 767px){
.sidebar-form, .saved-prop-cover, form.arrange-viewing, .share-prop-cover, .arrange-viewing, .share-prop-cover{width: 58%;margin: auto;}
} 
@media (max-width: 420px){.slider-title{padding: 5px 0;}} 
/* Mobile css ends */
/* IE8 css start */ 
.ie8 .prop-form-search .cus-width1.form-control{width: 60%;}
/* IE8 css end */
@-moz-document url-prefix() { 
    .prop-form-search .form-control.cus-width1,
    .prop-form-search .form-control.cus-width{height: 23px !important;} 
} 
::i-block-chrome, .prop-form-search .form-control{
	line-height: 0.9 !important; 
}
#scrollcover{
	width: 300px;
	height: 300px; 
	overflow: hidden;
} 
.propItem{
	width: 350px;
	height: auto; 
	float: left; 
	position: relative;
}
 #arrowL,#arrowR{
    display: inline-block;
    background: red;
    color: #fff;
	cursor: pointer;
 }
  #arrowL{
	margin-right : 20px;
    position: absolute;
    top: -20px;
    left: 58px;
    padding-left: 20px;
    background: url(../images/pagenav_bck.gif) top left no-repeat;
	opacity: 1;
}  
#arrowR{
    position: absolute;
    top: -20px;
    right: 40px;
    background: url(../images/pagenav_fwd.gif) top right no-repeat;
    padding-right: 20px;
	opacity: 1;
}
  .multi-map-cnt h2{padding-bottom: 5px;}
  .mpc{
	border-bottom: 1px solid #DDD;
    padding-bottom: 5px;
    text-align: center;
    font-weight: bold;
}
.arrow-wrapper{text-align: center;}

/* Testimonials css start */
 .testimonial-cover{margin: 20px 0 20px 0;}
 .testimonial-cover h2{ 
     font-size: 24px; 
     color: #234583;
     text-align: center;
     margin: 10px 0;
 } 
.testimonial {
    position: relative;
}
.testimonial-cover .testimonial .testimonial-content {
    border: 1px solid rgba(132, 132, 132, 0.18);
    box-shadow: 0px 2px 1px 0px rgba(29, 29, 29, 0.28);
    padding: 15px 15px 60px 15px;
    letter-spacing: 0.8px;
}
.testimonial .testimonial-content {
    text-align: justify;
    border-radius: 5px;
}
.testimonialImgCover {
    position: relative;
    bottom: 48px;
    right: 20px;
}
.testimonial-title {
    display: inline-block;
    position: absolute;
    right: 70px;
    top: 15px;
}
.testimonial-title span {
    margin: 0;
    padding: 20px;
    font-size: 18px;
    color: #0c3f17;
}
.testimonial-img {
    text-align: right;
}
.testimonial-img img {
    background: #d1d1d1;
    border-radius: 70px;
    width: 75px;
}
.testimonial-pagination {
    text-align: right;
    margin: 15px 0;
}
.testimonial-pagination ul {
    display: inline-flex;
    padding: 0;
    list-style: none;
    margin: 0;
}
.testimonial-pagination ul li.active span {
    background: #be0d10;
    color: #fff;
    border: 1px solid #be0d10;
}
.testimonial-pagination ul li a, .testimonial-pagination ul li span {
    padding: 5px 8px;
    border: 1px solid #0c3f18;
    margin: 0px 0px 0px 8px;
    color: #0c3f18;
}
.testimonial-pagination ul li a:hover, .testimonial-pagination ul li span:hover {
    background-color: #be0d10;
    border: 1px solid #be0d10;
    color: #fff;
    text-decoration: none;
}
@media (min-width: 320px) and (max-width: 568px) and (orientation: portrait){
	div.testimonialImgCover{
		    right: 10px
	}
	div.testimonial-title{
		position: relative;
		width: 100%;
		top: 0;
		right: 0;
	}
	div.testimonial-title span{font-size: 13px;}
}
/* Testimonials css end */
@media (min-width: 950px) and (max-width: 1280px){
.nav-block nav ul li {
    display: inline-block;
    width: 103px;
    padding: 7px 2px 7px 2px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    margin-right: 0px;
    background: #0C3F16;
}
}
@media (min-width: 768px) and (max-width: 1024px){
.nav-block nav ul li {
    display: inline-block;
    width: 80px;
    padding: 7px 1px 7px 1px;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    margin-right: 0px;
    background: #0C3F16;
}
}
.footer-block-lf {
    display: block;
    overflow: hidden;
}
.footer-block-lf ul {
    float: left;
    margin: 36px 0px;
}
.footer-block-lf ul li {
    list-style: none;
    display: inline-block;
    padding-right: 5px;
}
.footer-block-lf ul li a {
    color: #E9E581;
    font-size: 12px;
}